@{
    ViewData["Title"] = "Examen II Parcial";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a la aplicación</h1>
    <div class="table-responsive">
        <table class="table align-middle  table-hover">
            <thead>

                <tr class="table-dark">
                    <th>Diseñador</th>
                    <th>
                        Cuenta
                    </th>
                </tr>

            </thead>

            <tbody>
                <tr class="table">
                    <td>Darlin Estefany Cartagena Melgar</td>
                    <td>20171030694</td>
                </tr>
                <tr class="table-dark">
                    <td>Josue Efrain Hernandez Flores</td>
                    <td>20082100040</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
