@model task.Models.State

@{
    ViewData["Title"] = "Borrar estado";
}

<h2>Eliminar estado definitivamente</h2>
<h3>Advertencia: antes de eliminar un estado deberá primero borrar la subtarea y tarea asignadas</h3>
<br>
<h3>¿Esta completamente seguro de borrar este estado?</h3>
<br>
<h3>Tome en cuenta que esto podria afectar a los datos ya guardados...¿Continuar?</h3>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.StateDescription)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.StateDescription)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="StateId" />
        <input type="submit" value="Borrar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-success">Regresar</a>
    </form>
</div>
